{% extends "register/base.html" %}
{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>予約日時</th>
            <td>{{ reserve.reserve_date }}</td>
        </tr>
        <tr>
            <th>予約時間</th>
            <td>{{ reserve.reserve_hour_zone }}</td>
        </tr>
        <tr>
            <th>予約開始時間</th>
            <td>{{ reserve.reserve_start_time }}</td>
        </tr>
        <tr>
            <th>予約終了時間</th>
            <td>{{ reserve.reserve_end_time }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}