{% extends "register/base.html" %}
{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>メールアドレス</th>
            <td>{{ user.email }}</td>
        </tr>
        {% if object.image %} 
        <tr>
            <th>アイコン</th>
            <td><img src='{{ object.image.url }}' width=200></td>
        </tr>
        {% endif %}
        <tr>
            <th>姓</th>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <th>名</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>プロフィール</th>
            <td>{{ user.profile }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}